[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_socketio = "*"
gevent = "*"
gevent-websocket = "*"
psutil = "*"
watchdog = "*"
file-read-backwards = "*"
flask-login = "*"
humanize = "*"
better-exceptions = "*"

[dev-packages]
pylint = "*"
yapf = "*"
pytest = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
