[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_socketio = "*"
gevent = "*"
gevent-websocket = "*"
psutil = "*"
watchdog = "*"
file-read-backwards = "*"

[dev-packages]
pylint = "*"
yapf = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
